#team.text-center
  .overlay
    .container
      .col-md-10.col-md-offset-1.section-title
        %h2 Meet Our Chefs
        %hr/
        %p Lorem ipsum dolor sit amet, consectetur adipiscing elit duis sed dapibus leonec.
      #row
        .col-md-4.team
          .thumbnail
            .team-img
              = image_tag "team/01.jpg"
            .caption
              %h3 Mike Doe
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
        .col-md-4.team
          .thumbnail
            .team-img
              =image_tag "team/02.jpg"
            .caption
              %h3 Chris Doe
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
        .col-md-4.team
          .thumbnail
            .team-img
              = image_tag "team/03.jpg"
            .caption
              %h3 Ethan Doe
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis sed dapibus leo nec ornare diam.
