%nav#menu.navbar.navbar-default.navbar-fixed-top
  .container
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand.page-scroll{:href => "#{root_path}#page-top"} Go Trip
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav.navbar-right
        %li
          %a.page-scroll{:href => "#service"} Services
        %li
          %a.page-scroll{:href => "#fleet"} Fleet
        %li
          %a.page-scroll{:href => "#team"} Team
        %li
          %a.page-scroll{:href => "#contact"} Contact
        %li
          %a.page-scroll{:href => new_user_registration_path} Sign up
    / /.navbar-collapse
